<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6s8DDoWCsD75r4QMZAB8GKIA7j1Sg_aM</string>
	<key>GCM_SENDER_ID</key>
	<string>739582942655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalprojectCst9l.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>finalprojpc</string>
	<key>STORAGE_BUCKET</key>
	<string>finalprojpc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739582942655:ios:379f18b939aac5e6ce150a</string>
</dict>
</plist>